h3{
    font-size: 25px;
}
.btn-success:hover{
    background-color: rgb(86, 245, 12);
}
canvas{
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 38px rgb(155, 156, 218);}
    to{box-shadow:1px 1px 38px rgb(14, 0, 0);}
}